.login .formlog {
    z-index: 1;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 5px 2px 20px rgba(128, 128, 128, 0.603);
    position: absolute;
    top: 25%;
    left: 50%;
    height: 500px;
    border-radius: 10%;
    border: solid 0.5px rgba(132, 170, 192, 0.541)
}

.login .register-form {
    margin: 20% 0% 10% 0%;
    padding: 0% 0% 10% 0%
}

.login .form input {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 27px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login .login-form {
    margin: 7% 0% 10% 0%;
    padding: 0% 0% 10% 0%
}

.login #loginbutton {
    text-transform: uppercase;
    background: rgb(58, 116, 143);
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    position: absolute;
    left: 10%;
    bottom: 7.5%
}

.login .form .loginbutton:hover {
    background: rgb(74, 146, 180);
}

.p p{font-size: 25px;}