/* søg */

.søg {
  width: 80%;
  height: 20px;
  margin: 1% 0% 0% 3%;
  font-size: 15px;
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.søgsubmit {
  margin: 0px 0px 0px 0px;
  padding: 1.2%;
  font-size: 15px
}


/* BrugerLister */

.brugerlister {
  width: 100%;
  border: solid 1px;
  max-height: 730px;
  overflow-y: auto;
}



.dropbtn {
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  border-top: solid 1px
}


/* Brugere */

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  text-align: center;
  padding: 18px;
  border-bottom: solid 1px
}



thead tr {
  background-image: linear-gradient(to right, rgb(239, 247, 255) 30%, rgba(55, 152, 197, 0.534))
}

tbody a {
  display: block;
  text-decoration: none;color: black

}

tbody tr:hover {
  background-color: rgb(216, 216, 216);
}


.online {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: rgb(61, 187, 61);
  border-radius: 100%;
}


.offline {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(230, 230, 230);
}

.brugerlister .active {

  color: black;
  font-weight: bold;
  font-size: 19px
}