.brugerprofil {
    width: 60%;
    border: solid 1px black;
    margin: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 45%, rgb(55, 169, 197));
    padding-bottom: 3%
}



.upload {
    position: absolute;
    left: 28%;
    z-index: 1;
    top: 35%;
}



.brugerprofil .upload .imageUpload {
    visibility: hidden;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    font-size: 14px;
}

.label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.658);
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    background-image: url('./ret.png');
    background-size: 100%;
}

.label:hover {
    background-color: rgb(238, 231, 231);
}

.upload:hover .imageUpload {
    visibility: visible;
}


.redigerknap {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    background-image: url('./ret.png');
    background-size: 100%;
    margin: 0% 5% 0% 0%;
}

.redigerknap:hover {
    background-color: rgb(238, 231, 231);
}


.img {
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: -6.2% 1% 1% 1%;

}



.imgclose {
    position: absolute;
    width: 30px;
    top: 17%;
    right: 21%;
}

.imgclose:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

h1 {
    text-align: center
}


span {
    font-size: 20px;
    font-weight: 600
}

.raekke {
    margin: -2% 10% 4% 40%;
    border-bottom: solid 1px;
    padding: 1%
}

label {
    font-size: 20px;
}

.gem {
    background-color: rgba(223, 223, 223, 0.514);
    padding: 1% 2% 1% 2%;
    margin: 10% 0% 0% 40%;
    cursor: pointer;
}