/* founder-grid */
/* Denn kode er sat på sitebaren, da den er på alle admin sikderne. og fungere derfor globalt på admin og founder siderne */
.founder {
    display: grid;
    grid-template-columns: 20% 30% 40%;
    grid-gap: 3.5%;
    height: 800px;
    overflow: hidden;
  }

  


#snav {
    background-color: rgb(160, 167, 172);
    width: 100%;
    height: 100vh;
  
  }
  
  #snav a{
    text-decoration: none;
    color: black;
    font-style: none;
    display:block;
  }
  
  #snav a:hover{
    background-color: rgba(0, 0, 0, 0.171)
  }
  
  #sul {
    font-size: 20px;
    padding: 5% 5% 5% 5%;
  }
  
  #sli {
    margin: 0% 10% 0% 1%;
    list-style-type: none;
    border-bottom: solid 1px;
    cursor: pointer;
  }
  
  #sli:hover {
    color: rgb(80, 73, 73)
  }
  
  #sli1 {
    margin: 10% 10% 0% 1%;
    list-style-type: none;
    border-bottom: solid 1px;
    cursor: pointer;
  
  }
  
  #sli1:hover {
    color: rgb(80, 73, 73)
  }