/* chatsite */
.bagchat {
    width: 100%;
    height: 400px;
  }
  
  
  #frame {
    width: 70%;
    height: 92vh;
    display: flex;
    position: absolute;
    top: 20%;
    left: 15%;
    background-color: #ddd;
    margin-bottom: 5%;
    border-bottom: solid 1px
  }
  
  #sidepanel {
  
    width: 80%;
    height: 100%;
    background: #3f5a75;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
  }
  
  #profile {
    width: 100%;
    margin: 10%;
  }
  
  .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    height: auto;
    cursor: pointer;
    transition: 0.3s border ease;
  
  }
  
  .status-online {
    border: 2px solid #2ecc71;
  }
  
  .status-offline {
    border: 2px solid #e74c3c;
  }
  
  
  #status-muligheder {
    display: none
  }
  
  #sidepanel #search {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    ;
  }
  
  
  #sidepanel #search input {
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
  }
  
  .wrap {
    display: flex
  }
  
  .name {
    margin-left: 50px
  }
  
  .brugerliste {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .bruger {
    margin-right: 30%
  }
  
  #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  #sidepanel #bottom-bar button {
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
  }
  
  #sidepanel #bottom-bar button:hover {
    background: #435f7a;
  }
  
  /* højre side */
  .content {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 150%
  }
  
  .content-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    display: flex
  }
  
  .content-profile img {
    width: 50px;
    border-radius: 50%;
    margin: 9px 12px 0 9px;
  }
  
  #frame .content .contact-profile p {
    float: left;
  }
  
  
  #frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  
  .messages ul li {
    display: inline-block;
    margin: 15px 15px 5px 15px;
    font-size: 15px;
  }
  
  .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  
  .messages ul li.sent img {
    margin: 6px 8px 0 0;
  }
  
  .messages ul li.sent p {
    background: #435f7a;
    color: #f5f5f5;
    font-size: 15px
  }
  
  #frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
  }
  
  #frame .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
    font-size: 15px
  }
  
  #frame .content .messages ul li img {
    width: 5%;
    border-radius: 50%;
    float: left;
  }
  
  .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
  }
  
  
  .wrap input {
    float: left;
    border-bottom: solid 1px black;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 15px;
    color: #32465a;
  
  }
  
  
  
  .wrap button {
    float: right;
    border: none;
    width: 20%;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
  }
  
  .wrap button:hover {
    background: #435f7a;
  }
  
  